/* MAIN css */
html {
  height: 100%;
}
html body {
  height: 100%;
}
body {
  padding-top: 60px;
}

.footer {
  background-color: #8fc88f;
}

.App {
  text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.header {
  background: #ffa407;
  transform: skew(20deg); /* SKEW */
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-top: -1em;
}

h3.header {
  display: block; /* block or inline-block is needed */
  transform: skew(-15deg); /* UNSKEW */
  color: #fff;
  line-height: 0.9em;
  padding: 0.7rem 0 0.7rem 0;
  text-shadow: 0 2px 5px #464646;

}

/* Homepage Carousel */
.carousel-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > Link > img {
  width: 100% !important;
  max-height: 650px !important;
  object-fit: cover;
}
@media screen and (max-width: 450px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > Link > img {
    width: 100% !important;
    max-height: 200px !important;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, #ffffff1f, #ffffff1f);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-item:hover .overlay {
  opacity: 1;
}

.cart-header {
  background: #ffa407;
  transform: skew(20deg); /* SKEW */
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-top: -1em;
}

h1.cart-header {
  display: block; /* block or inline-block is needed */
  transform: skew(-15deg); /* UNSKEW */
  color: #fff;
  line-height: 0.9em;
  padding: 0.7rem 0 0.7rem 0;
  text-shadow: 0 2px 5px #464646;
  width: 80%;
}

.bg-control-prev {
  background: linear-gradient(to right, #000000a2, #ffffff00);
}

.bg-control-next {
  background: linear-gradient(to left, #000000a2, #ffffff00);
}

/* BG gradient for Layout */
.border-gradient {
  border: 5px solid;
  border-image: linear-gradient(to right, #193019f2, #278627f2, #00b536) 1;
  border-image-slice: 1;
  border-radius: 15px;
  background-clip: content-box;
}

.box-bg-gradient {
  background: linear-gradient(to top, #193019f2, #278627f2, #00b536);
  padding: 2em;
  border-radius: 5px;
  color: #fff;
}

/* ProductListPage */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
@media screen and (max-width: 450px) {
  .card-img-top {
    height: 30vh;
    object-fit: cover;
  }
}

.card-img-top-bg-gradient {
  background: linear-gradient(to top, #193019f2, #278627f2, #00b536);
  color: #fff;
}
/*
.card-body .card-text {
  height: 3.8vw;
  overflow: hidden;
}
*/
.pop-card.image-box {
  border-radius: 5px;
  margin: 10px;
  padding: 0 0 0 0;
  z-index: 0;
}
.pop-card.image-box {
  padding: 0 0 0 0;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}

.pop-card {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  height: fit-content;
}

.pop-card:hover {
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.pop-card.image-box img {
  opacity: 1;
  -webkit-transition: all .9s ease; 
  -moz-transition: all .9s ease; 
  -o-transition: all .9s ease;
  -ms-transition: all .9s ease;
}

.pop-card:hover.image-box img {
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

.pop-text-heading {
  width: 18rem;
  background: #ffa407;
  -ms-transform: skewX(15deg); /* IE 9 */
  -webkit-transform: skewX(15deg); /* Safari */
  transform: skewX(15deg);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-left: -0.3rem;
  z-index: 1;
}

h3.pop-text-heading {
  display: block; /* block or inline-block is needed */
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skewX(-20deg);
  color: #fff;
  text-shadow: 0 2px 5px #464646;
}

.pop-card h3.pop-text-heading {
  display: none;
  position: absolute;
  margin-top: -0.5rem !important;
}

.pop-card:hover .pop-text-heading {
  display: block;
}

.card-products {
  width: 18rem !important;
}

.product-heading {
  background: #ffa407;
  transform: skew(20deg); /* SKEW */
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  margin-top: -1em;
}

h1.product-heading {
  display: block; /* block or inline-block is needed */
  transform: skew(-10deg); /* UNSKEW */
  color: #fff;
  line-height: 0.9em;
  text-shadow: 0 2px 5px #464646;
}

.container-cards-add-product {
  display: flex;
  flex-wrap: wrap;
}

.card-product-details-img {
  object-fit: cover;
  max-height: 400px;
  border-radius: 10px;
  background: linear-gradient(to top, #193019f2, #278627f2, #00b536);
}

.card-cart {
  max-height: 20vh;
}

.card-cart-img {
  object-fit: contain;
  max-height: 30vh;
  max-width: 30vw;
  background: linear-gradient(to top, #193019f2, #278627f2, #00b536);
}

/* For STARS in Ratings (Comments) */
.Stars_on {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(250, 159, 2);
}

.Stars_off { 
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(135, 134, 134);
}

.star-text {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000000;
}

.star {
  font-size: 2em;
  line-height: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(250, 159, 2);
  text-shadow: 1px 1px 4px #777;
}

/* CART */
.cart-icon {
  text-decoration: none;
  display: inline;
  cursor: pointer;
  margin: auto 1rem auto auto;
}
.cart-icon > img {
  text-decoration: none;
  max-width: 30px;
  margin-top: 5px;
  z-index: 1;
}

.cart-icon > .cart-count {
  text-decoration: none;
  background-color: transparent;
  color: #000;
  padding: 3px 7px 4px 4px;
  border-radius: 15px;
  border: solid 2px #44b744;
  z-index: 0;
  margin-left: -4px;
}

/* Footer CSS */
.footer-link:link  { color: #00ff2a; text-decoration: none; }
.footer-link:visited { color: #00ff2a; text-decoration: none; }
.footer-link:hover { color: #fff; text-decoration: none; }
.footer-link:active { color: #00ff2a; text-decoration: none; }


.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.product{
  font-weight: bold;
}




/******* FOR TESTING ********/
.orange {
  border: 1px solid #ff9d41
}
.blue {
  border: 1px solid #41b3ff
}
.green {
  border: 1px solid #71ff41
}
.pink {
  border: 1px solid #fc41ff
}

/******* FOR EDIT PRODUCT PAGE ********/
.editimg{
  width: 50px;
  height:50px;
}
.editpage{

  display: flex;
  flex-direction: column;
  width: 40%;
  
}
.editproduct{
  display: flex;
  justify-content: center;

}
.deletebtn{
  width: 30%;
  margin-left: 13vw;
}