/* MAIN css */
html {
  height: 100%;
}
html body {
  height: 100%;
}
body {
  padding-top: 60px;
}

.footer {
  background-color: #8fc88f;
}

.App {
  text-align: center;
}

/* CART css */
.cart-icon {
  text-decoration: none;
  display: inline;
  cursor: pointer;
  margin: auto 1rem auto auto;
}
.cart-icon > img {
  text-decoration: none;
  max-width: 30px;
  margin-top: 5px;
  z-index: 1;
}

.cart-icon > .cart-count {
  text-decoration: none;
  background-color: transparent;
  color: #000;
  padding: 3px 7px 4px 4px;
  border-radius: 15px;
  border: solid 2px #44b744;
  z-index: 0;
  margin-left: -4px;
}

/******* Carousel CSS *******/
.carousel-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > Link > img {
  width: 100% !important;
  max-height: 450px !important;
  object-fit: cover;
}
@media screen and (max-width: 450px) {
  .carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > Link > img {
    width: 100% !important;
    max-height: 200px !important;
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #78ffa3cc, #21c25366);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-item:hover .overlay {
  opacity: 1;
}



/******* FOR TESTING ********/
.orange {
  border: 1px solid #ff9d41
}
.blue {
  border: 1px solid #41b3ff
}
.green {
  border: 1px solid #71ff41
}
.pink {
  border: 1px solid #fc41ff
}


/* For STARS in Ratings */

.Stars_on{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(250, 159, 2);
}

.Stars_off { 
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(66, 65, 65);
}
.star{
  
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(250, 159, 2);
  }
