.App {
  text-align: center;
}

.cart-icon {
  margin-left: auto;
  display: inline;
  cursor: pointer;
}
.cart-icon > img {
  max-width: 30px;
}

.cart-icon > .cart-count {
  margin-left: -10px;
  background-color: #000;
  color: #fff;
  padding-right: 4px;
  border-radius: 15px;
}
